Athletes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Version vom 09.09.2021 erstellt von Udo Laub: Iternationales Startrecht und Name gemäss Reisepass aufgenommen -->
    <xs:simpleType name="Mode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="full"/>
            <xs:enumeration value="delta"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="YearOfBirth">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1910"/>
            <xs:maxInclusive value="2100"/>
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="NullOrZeroOne">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0|1)|\s{0}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="EnumGender">
        <xs:restriction base="xs:string">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
			<xs:enumeration value="X"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="MasterID">
        <xs:restriction base="xs:string">
            <xs:pattern value="(BA|BY|BE|BB|BR|BS|HH|HE|MV|NI|NO|PF|RH|RL|SL|SN|ST|SH|TH|WE|WÜ)[0-9]{7}" />
			<xs:minLength value="9" />
            <xs:maxLength value="9" />
        </xs:restriction>
    </xs:simpleType>
	
	<xs:simpleType name="GUID">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-fA-Z]{8}-[0-9a-fA-Z]{4}-[0-9a-fA-Z]{4}-[0-9a-fA-Z]{4}-[0-9a-fA-Z]{12}" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="String50Input">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String50Data">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="String30Data">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SQLDateTime">
        <xs:restriction base="xs:string">
            <xs:pattern value="((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) (0[0-9]|[1][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]))" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SQLDate">
        <xs:restriction base="xs:string">
           <xs:pattern value="(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddress">
        <xs:restriction base="xs:token">
            <xs:maxLength value="254"/>
            <xs:pattern value="([äöüÄÖÜßa-zA-Z0-9._%+-]+@[äöüÄÖÜßa-zA-Z0-9.-]+\.[a-zA-Z]{2,10})"/>
        </xs:restriction>
    </xs:simpleType>

  <xs:element name="StateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Request">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Mastersystem"/>
              <xs:element type="xs:string" name="Created"/>
              <xs:element type="xs:string" name="DateCUStart" maxOccurs="1" minOccurs="0"/>
              <xs:element type="xs:string" name="DateCUEnd" maxOccurs="1" minOccurs="0"/>
    	      <xs:element type="Mode"      name="Mode"/>            
	    </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Persons">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Person" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Licenses">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="License" maxOccurs="unbounded" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="MasterID"           name="LicenseNumber"        use="required"/>
                                  <xs:attribute type="MasterID"           name="LicenseClubID"        use="required"/>
                                  <xs:attribute type="SQLDate"            name="LicenseStart"         use="required"/>
                                  <xs:attribute type="SQLDate"            name="LicenseEnd"           use="optional"/>
	               	          <xs:attribute type="CountryCode"        name="Nationality"          use="optional"/>						  
                                  <xs:attribute type="SQLDate"            name="LicenseLockStart"     use="optional"/>
                                  <xs:attribute type="SQLDate"            name="LicenseLockEnd"       use="optional"/>
                                  <xs:attribute type="SQLDate"            name="LicenseInactiveStart" use="optional"/>
                                  <xs:attribute type="SQLDate"            name="LicenseInactiveEnd"   use="optional"/>
                                  <xs:attribute type="MasterID"           name="HomeClubID"           use="required"/>
                                  <xs:attribute type="SQLDateTime"        name="LastUpdated"          use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="GUID"               name="PersonID"                  use="required"/>
                  <xs:attribute type="String50Input"      name="FirstName"                 use="required"/>
                  <xs:attribute type="String50Input"      name="LastName"                  use="required"/>
                  <xs:attribute type="String50Input"      name="LegalFirstName"            use="optional"/>
                  <xs:attribute type="String50Input"      name="LegalLastName"             use="optional"/>
                  <xs:attribute type="EnumGender"         name="Gender"                    use="required"/>
		  <xs:attribute type="YearOfBirth"        name="Yearofbirth"               use="required"/>
                  <xs:attribute type="SQLDate"            name="Birthdate"                 use="optional"/>
                  <xs:attribute type="CountryCode"        name="FirstNationality"          use="required"/>
                  <xs:attribute type="CountryCode"        name="SecondNationality"         use="optional"/>
                  <xs:attribute type="String50Data"       name="Title"                     use="optional"/>
                  <xs:attribute type="NullOrZeroOne"      name="IsActive"                  use="required"/>
                  <xs:attribute type="String50Data"       name="ContactStreet"             use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactAdditional"         use="optional"/>
                  <xs:attribute type="String30Data"       name="ContactZipCode"            use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactCity"               use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactCountry"            use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactPhone"              use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactMobile"             use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactFax"                use="optional"/>
                  <xs:attribute type="EmailAddress"       name="ContactEmail"              use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessStreet"     use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessAdditional" use="optional"/>
                  <xs:attribute type="String30Data"       name="ContactBusinessZipCode"    use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessCity"       use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessCountry"    use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessPhone"      use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessMobile"     use="optional"/>
                  <xs:attribute type="String50Data"       name="ContactBusinessFax"        use="optional"/>
                  <xs:attribute type="EmailAddress"       name="ContactBusinessEmail"      use="optional"/>
                  <xs:attribute type="MasterID"      	  name="ClubID"                    use="required"/>
                  <xs:attribute type="SQLDateTime"        name="LastUpdated"               use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
