Events.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <!-- Version vom 15.06.2020 erstellt von Udo Laub -->    
    <xs:simpleType name="EventID">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{2}[L|V|D|B|K|I][0-9X]{11,14}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="NullOrZeroOne">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0|1)|\s{0}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NullOrZeroToThree">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0|1|2|3)|\s{0}" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="FileType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="F"/>
            <xs:enumeration value="L"/>
            <xs:enumeration value="T"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimeHHMM">
        <xs:restriction base="xs:string">
            <xs:pattern value="((0[0-9]|[1][0-9]|2[0-3]):([0-5][0-9]))" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NullOrTimeHHMM">
        <xs:restriction base="xs:string">
            <xs:pattern value="((0[0-9]|[1][0-9]|2[0-3]):([0-5][0-9]))|\s{0}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EnumSalutation">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="Herr"/>
            <xs:enumeration value="Frau"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String200Input">
        <xs:restriction base="xs:string">
            <xs:minLength value="2" />
            <xs:maxLength value="200" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String200Data">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="200" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StringLong">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String30Data">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="30" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String20Data">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NullOrInteger">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d*|\s{0}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NullOrSQLDateTime">
        <xs:restriction base="xs:string">
            <xs:pattern value="((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) (0[0-9]|[1][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]))|((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]))|\s{0}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SQLDateTime">
        <xs:restriction base="xs:string">
            <xs:pattern value="((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]) (0[0-9]|[1][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]))|((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]))" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="NullOrSQLDate">
        <xs:restriction base="xs:string">
            <xs:pattern value="((19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01]))|\s{0}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SQLDate">
        <xs:restriction base="xs:string">
            <xs:pattern value="(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EmailAddress">
        <xs:restriction base="xs:token">
            <xs:maxLength value="100"/>
            <xs:pattern value="[ßäöüÄÖÜa-zA-Z0-9._%+-]+@[ßäöüÄÖÜa-zA-Z0-9.-]+\.[a-zA-Z]{2,9}"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="NullOrEmailAddress">
        <xs:restriction base="xs:token">
            <xs:maxLength value="100"/>
            <xs:pattern value="([ßäöüÄÖÜa-zA-Z0-9._%+-]+@[ßäöüÄÖÜa-zA-Z0-9.-]+\.[a-zA-Z]{2,9})|\s{0}"/>
        </xs:restriction>
    </xs:simpleType>

        <xs:simpleType name='StateID'>
            <xs:union>
                <xs:simpleType>
                    <xs:restriction base='xs:string'>
                        <xs:length value='0'/>
                    </xs:restriction>
                </xs:simpleType>
                <xs:simpleType>
                    <xs:restriction base='xs:integer'>
                    </xs:restriction>
                </xs:simpleType>
            </xs:union>
        </xs:simpleType>

    <xs:element name="Events">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Request">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string"  name="Filename"                                   />
                            <xs:element type="xs:float"   name="Version"                                    />
                            <xs:element type="xs:string"  name="Created"                                    />
                            <xs:element type="xs:string"  name="EventID"        maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="DateEventStart" maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="DateEventEnd"   maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="DateCUStart"    maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="DateCUEnd"      maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="CountryCode"    maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="StateID"                                    />
                            <xs:element type="xs:string"  name="StateRange"     maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="TypeRange"      maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="CountyID"       maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="DistrictID"     maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="ClubID"         maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="TypeID"         maxOccurs="1" minOccurs="0" />
                            <xs:element type="xs:string"  name="EventTypeID"    maxOccurs="1" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                            <xs:element name="Event" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EventType">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:integer"    name="ID"          use="required" />
                                                        <xs:attribute type="NullOrZeroOne" name="LicenseOnly" use="optional" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="EventCategory">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="NullOrInteger" name="ID" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element type="xs:date"           name="DateStart"   nillable="false" />
                                        <xs:element type="NullOrSQLDate"     name="DateEnd" />
                                        <xs:element type="NullOrTimeHHMM"    name="Time"  />
                                        <xs:element type="NullOrSQLDateTime" name="ClosingDate" />
                                        <xs:element type="xs:anyURI"         name="SignOnUrl" />
                                        <xs:element type="CountryCode"       name="CountryCode" />
                                        <xs:element type="StateID"           name="StateID" />
                                        <xs:element type="NullOrInteger"     name="CountyID" />
                                        <xs:element type="NullOrInteger"     name="DistrictID" />
                                        <xs:element type="NullOrInteger"     name="ClubID" />
                                        <xs:element type="xs:integer"        name="FirstTime" />
                                        <xs:element type="NullOrZeroOne"     name="ApplyTaxes" />
                                        
                                        <xs:element name="Organizer">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="EnumSalutation"     name="Salutation" />
                                                    <xs:element type="String200Data"      name="FirstName" />
                                                    <xs:element type="String200Data"      name="LastName" />
                                                    <xs:element type="String200Data"      name="Street" />
                                                    <xs:element type="String200Data"      name="Additional" />
                                                    <xs:element type="String30Data"       name="ZipCode" />
                                                    <xs:element type="String200Data"      name="City" />
                                                    <xs:element type="String20Data"       name="Phone" />
                                                    <xs:element type="String20Data"       name="Mobile" />
                                                    <xs:element type="String20Data"       name="Fax" />
                                                    <xs:element type="NullOrEmailAddress" name="Email" />
                                                    <xs:element type="String200Data"      name="Web" />
                                                    <xs:element type="xs:string"          name="AdditionalInformation" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="Comp">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="String200Data" name="StartPlace" />
                                                    <xs:element type="String200Data" name="Street" />
                                                    <xs:element type="String30Data"  name="ZipCode" />
                                                    <xs:element type="String200Data" name="City" />
                                                    <xs:element name="GPS">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="String200Data" name="Lat" use="optional" />
                                                                    <xs:attribute type="String200Data" name="Lng" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="Drive">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="String200Data" name="Street" />
                                                    <xs:element type="String30Data" name="ZipCode" />
                                                    <xs:element type="String200Data" name="City" />
                                                    <xs:element name="GPS">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="String200Data" name="Lat" use="optional" />
                                                                    <xs:attribute type="String200Data" name="Lng" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="EventFiles">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="EventFile" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:integer"        name="ID" use="optional" />
                                                                    <xs:attribute type="FileType"          name="Type" use="optional" />
                                                                    <xs:attribute type="xs:integer"        name="GroupID" use="optional" />
                                                                    <xs:attribute type="String200Data"     name="Name" use="optional" />
                                                                    <xs:attribute type="String200Data"     name="Title" use="optional" />
                                                                    <xs:attribute type="StringLong"     name="Link" use="optional" />
                                                                    <xs:attribute type="StringLong"     name="Remark" use="optional" />
                                                                    <xs:attribute type="xs:integer"        name="Sort" use="optional" />
                                                                    <xs:attribute type="SQLDateTime"       name="Created" use="optional" />
                                                                    <xs:attribute type="NullOrSQLDateTime" name="Updated" use="optional" />
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element name="AgeGroups">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="AgeGroup" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Disciplines">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Discipline" maxOccurs="unbounded" minOccurs="0">
                                                                                <xs:complexType>
                                                                                    <xs:simpleContent>
                                                                                        <xs:extension base="xs:string">
                                                                                            <xs:attribute type="xs:integer"        name="ID" use="required" />
                                                                                            <xs:attribute type="NullOrZeroOne"     name="Normed" use="optional" />
                                                                                            <xs:attribute type="String200Data"     name="DisciplineName" use="optional" />
                                                                                            <xs:attribute type="NullOrSQLDateTime" name="MeasurementDate" use="optional" />
                                                                                            <xs:attribute type="NullOrZeroOne"     name="MeasurementChecked" use="optional" />
                                                                                            <xs:attribute type="String20Data"      name="Distance" use="optional" />
                                                                                        </xs:extension>
                                                                                    </xs:simpleContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:integer" name="ID" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <xs:element type="NullOrZeroToThree"  name="TotalApprovalState" />
                                        <xs:element type="String200Data"      name="AssociationSupervision" />
                                        <xs:element type="NullOrEmailAddress" name="AssociationSupervisionMail" />
                                        <xs:element type="NullOrZeroOne"      name="EventCancelled" />
                                        <xs:element type="xs:string" name="FinisherClubLink" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:string" name="FinisherClubShowAd" minOccurs="0" maxOccurs="1"/>
                                        <xs:element type="xs:integer" name="TopEvent" minOccurs="0" maxOccurs="1"/>
                                        
                                    </xs:sequence>
                                    <xs:attribute type="EventID"           name="ID" use="required" />
                                    <xs:attribute type="xs:integer"        name="Type" use="required" />
                                    <xs:attribute type="String200Input"    name="Name" use="required" />
                                    <xs:attribute type="SQLDateTime"       name="Created" use="required" />
                                    <xs:attribute type="NullOrSQLDateTime" name="Updated" use="optional" />
                                </xs:complexType>
                            </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
